* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Roboto Mono', monospace;
}
body {
  min-height: 100vh;
  min-width: 188px;
  position: relative;
  background-color: rgb(128, 158, 168);
} 

.logoPic {
  height: 80px;  
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid rgb(164, 164, 164);
  box-shadow: 0px 0px 10px darkgray;
  }
header {
position: sticky;
top: 0;  
display: flex;
flex-direction: row;
width: 100%;
min-height: 90px;
height: 13vh;
border: 1px solid rgb(6, 18, 10);
z-index: 100;
border-bottom: 3px solid rgb(52, 51, 51);
}

.toLeft {
position: relative;
top: 4%;
margin-left: 40px;
min-width: 100px;

display: flex;
margin-right: 40px;
}
.logoPic {
  height: 80px;  
  object-fit: contain;
  border-radius: 40px;
  }

.toMiddle {
position: relative;
display: none;
flex-direction: row;
flex: 1;
}


.toRight {
position: absolute;
display: flex;
flex-direction: row;
top: 40%;
right: 3%;
justify-content: space-between;
flex-shrink: 0;
width: 25%;
min-width: 305px;
}

.toRight div {
border: none;
padding: 5px;
border-radius: 10px;
transition: background-color 0.2s;
transition: box-shadow 0.2s;
}

/* divs */
.navHome, .navShop, .navMenu {
height: 30px;
}

.homeButton:hover {
cursor: pointer;
border: none;
}

.navShop:hover, .navMenu:hover {
cursor: pointer;
border: none;
box-shadow: 0 0 10px rgba(57, 79, 79, 0.25);
}

/* buttons */
.menuButton, .shopButton, .homeStyle {
display: inline-block;
color: rgb(57, 59, 64);

border: none;
background: none;
font-size: 18px;
text-decoration: none;
}
.menuButton:hover, .shopButton:hover, .p:hover {
cursor: pointer;
}

.fa-solid {
pointer-events: none;
transition: ease-in-out 0.2s;
}

.headerMenuContent {  
position: fixed;
display: none;
top: 90px;
min-width: 130px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 10;
transition: 1s;
opacity: 0;
}

.menuContent {
right: 0px;
}

/* manipulations upon clicking */

.rotate {
transform: rotate(180deg);
}
.iconAnimation {  
opacity: 0.5;
animation-name: iconAnimation;
animation-duration: 0.8s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes iconAnimation {
from {opacity: 1}
to {opcaity: 0.5}
}

.headerMenuContent a {
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
border-radius: 8px;
}

/* submenu items*/

.subContent {
display: none;
min-width: 110px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 5px;
z-index: 90;
border-top: 1px solid black;
}

.subContent a {
float: none;
padding: 4px 15px;
font-size: 14px;
text-decoration: none;
display: block;
text-align: left;
border-radius: 8px;
}

.show {
display: block;
opacity: 1;
animation-name: menuAnimation;
animation-duration: 0.25s;
animation-iteration-count: 1;
animation-direction: normal;
}
@keyframes menuAnimation {
from {opacity: 0}
to {opacity: 1}
}


@media (max-width: 500px) {

.menuToggleButton {
  display: inline-block;
}

.toRight {
  width: 120px;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 1%;
  align-items: end;
  height: 15vh;
  border: 1px solid black;
  background-color: rgba(255, 228, 196, 0.373);
  display: none;
}

.sidemenuActive {
  display: flex;
}
.flexBox {
  flex-direction: column;
  top: 5%;
  height: 80vh;
}
.toRight {
  min-width: 100px;
}
.leftSide {
  font-size: 2rem;
  padding-top: 0px;
}
.flexBox p {
  position: relative;
  bottom: 0px;
  top: 10px;
}

.contactForm {
  padding: 5%;
}

.headerMenuContent {
  right: 0;
}
}
@media (max-width: 299px) {
.flexBox {
  left: 0;
  right: 0;
  width: 100%;
}
.homeButton, .shopButton p, .menuButton p{
  display: none;
}
}