.topNav {
  top: 90px;
  display: flex;
  flex-direction: row;
  position: fixed;
  border-bottom: 1px solid black;
  background-color: gray;
  height: 3rem;
  width: 100%;
}

.leftSide {
  width: 25vw;
  background-color: aquamarine;
  height: 100%;
}
.middleSide {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  height: 100%;
  align-items: center;
}
.searchBar {
  height: 2rem;
  flex: 1;  
  display: inline-block;
  position: relative;
  border-radius: 7px;
  border: none;
  padding: 0% 20%;
}

.searchButton {
  height: 2rem;
  display: inline-block;
  position: fixed;
  width: 4%;  
  border-radius: 7px;
  border: none;
  z-index: 100;  
}
.rightSide {
  width: 25vw;
  background-color: brown;
  height: 100%;
}